---
import PlanCard from "./PlanCard.astro";
---

<div class="carousel min-[900px]:hidden">
  <input
    type="radio"
    name="slides"
    id="slide1"
    class="carousel__radio"
    checked
  />
  <input type="radio" name="slides" id="slide2" class="carousel__radio" />

  <div class="carousel__inner">
    <div class="carousel__item">
      <PlanCard plan="Estándar" />
    </div>
    <div class="carousel__item">
      <PlanCard plan="Pro" />
    </div>
  </div>

  <label for="slide1" class="carousel__navlabel prev" id="nav1">
    <span></span>
  </label>
  <label for="slide2" class="carousel__navlabel next" id="nav2">
    <span></span>
  </label>
</div>

<style lang="scss">
  .carousel {
    position: relative;
    width: 100%;
    max-width: 430px;
    padding: 6px;
    overflow: hidden;

    &__inner {
      position: relative;
      width: 200%;
      display: flex;
      transition: transform 0.5s ease;
    }

    &__item {
      width: 50%;
      display: flex;
      justify-content: center;
    }

    &__radio {
      display: none;
    }

    #slide1:checked ~ .carousel__inner {
      transform: translateX(0%);
    }

    #slide2:checked ~ .carousel__inner {
      transform: translateX(-50%);
    }

    #slide1:checked ~ #nav1,
    #slide2:checked ~ #nav2 {
      display: none;
    }

    &__nav {
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }

    &__navlabel {
      position: absolute;
      top: 0;
      width: 18%;
      height: 100%;
      cursor: pointer;
      display: flex;
      align-items: center;
      span {
        display: inline-block;
        width: 24px;
        height: 24px;
        background-size: cover;
        background-position: center;
      }
    }

    &__navlabel.prev {
      left: -8px;
      span {
        background-image: url("/images/nav-prev.svg");
      }
    }

    &__navlabel.next {
      right: -8px;
      span {
        position: absolute;
        right: 0;
        background-image: url("/images/nav-next.svg");
      }
    }
  }
</style>
