---
import { Image } from "astro:assets";
import { NAV_LINKS, IMPORTANT_NAV_LINKS } from "../../utils/consts";
import LinkedinIcon from "./LinkedinIcon.astro";
---

<footer class="w-full">
  <nav
    class="max-w-6xl mx-auto py-8 px-6 sm:px-12 min-[400px]:max-sm:px-8 grid grid-cols-2 gap-8 justify-between sm:grid-cols-4"
  >
    <div class="flex items-center">
      <Image
        src="/images/logo.png"
        width="170"
        height="35"
        alt="Vetekso Logo"
      />
    </div>
    <a
      class="h-[40px] m-auto flex justify-center items-center"
      href="https://www.linkedin.com/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <LinkedinIcon />
    </a>
    <div class="flex flex-col justify-center gap-4">
      {
        NAV_LINKS.map(({ label, pathname }) => (
          <a
            href={pathname}
            class="text-white transition-colors duration-200 ease-in-out hover:text-fuchsia-100"
          >
            {label}
          </a>
        ))
      }
    </div>
    <div class="flex flex-col justify-center gap-4">
      <span class="min-[400px]:text-xl font-medium">IMPORTANTE</span>
      {
        IMPORTANT_NAV_LINKS.map(({ label, pathname }) => (
          <a
            href={pathname}
            class="text-white transition-colors duration-200 ease-in-out hover:text-fuchsia-100"
          >
            {label}
          </a>
        ))
      }
    </div>
  </nav>
</footer>

<style lang="scss">
  footer {
    box-shadow: 4px 0px 4px 0px #00000040;
    nav {
      min-height: 320px;
    }
  }
</style>
