---
import ToggleMenu from "../client/ToggleMenu";
import NavLinks from "../client/NavLinks";
import NavMenu from "../client/NavMenu";
import Image from "astro/components/Image.astro";
---

<header
  class="bg-blue-500 fixed top-0 left-0 w-full z-50 shadow-[4px_0px_10px_0px_rgba(0,0,0,0.25)]"
  transition:animate="none"
>
  <nav
    class="h-[100px] max-w-6xl mx-auto px-6 sm:px-12 flex justify-between items-center"
  >
  <a href="/">
    <Image
      class="max-[500px]:max-h-[24px] max-[500px]:max-w-[110px]"
      src="/images/logo-main.svg"
      width="170"
      height="35"
      loading="eager"
      alt="Vetekso Logo"
    />
  </a>
    <ToggleMenu client:load />
    <NavLinks client:load currentPathname={Astro.url.pathname} />
  </nav>
  <NavMenu client:load currentPathname={Astro.url.pathname} />
</header>
