<svg
  width="41"
  height="40"
  viewBox="0 0 41 40"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <title>LinkedIn</title>
  <circle cx="20.9353" cy="20" r="19.5" stroke="white"></circle>
  <path
    d="M11.3103 30H15.0603V16.125H11.3103V30ZM13.1853 10C11.9353 10 10.9353 11 10.9353 12.25C10.9353 13.5 11.9353 14.5 13.1853 14.5C14.4353 14.5 15.4353 13.5 15.4353 12.25C15.4353 11 14.4353 10 13.1853 10ZM21.4353 18.25V16.125H17.6853V30H21.4353V22.875C21.4353 18.875 26.5603 18.625 26.5603 22.875V30H30.3103V21.5C30.3103 14.75 23.1853 15 21.4353 18.25Z"
    fill="white"></path>
</svg>

<style lang="scss">
  svg:hover {
    fill: #00000030;
    circle {
      stroke: #e378cf;
    }
    path {
      fill: #e378cf;
    }
  }
</style>
