---
import ButtonLink from "../../shared/ButtonLink.astro";
import Carousel from "../../shared/Carousel.astro";
import PlanCard from "../../shared/PlanCard.astro";
---

<section
  class="max-w-6xl px-6 sm:px-12 py-10 m-auto flex flex-col justify-center items-center"
>
  <h2 class="font-extrabold text-center">Explora Nuestros Planes</h2>
  <p class="mb-10 md:text-2xl text-center font-semibold">
    Elige el plan ideal para las necesidades de tu negocio
  </p>
  <div class="w-full justify-around hidden min-[900px]:flex">
    <PlanCard plan="Estándar" />
    <PlanCard plan="Pro" />
  </div>
  <Carousel />
  <ButtonLink
    href="/contacto"
    label="Contáctanos"
    btnClasses="mt-10 bg-custom-gradient text-blue hover:text-white hover:outline-white"
  />
</section>
