---
import Layout from "../layouts/Layout.astro";
---

<Layout title="VETEK SO G - Inicio">
  <main>
    <h1 class="text-indigo-700 mt-20">
      Convertimos tus ideas en experiencias tangibles
    </h1>
  </main>
</Layout>

<style lang="scss">
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;

    h1 {
      font-size: 4rem;
      font-weight: 700;
      line-height: 1;
      text-align: center;
      margin-bottom: 1em;
    }
  }
</style>
