---
import Layout from "../layouts/Layout.astro";
import ButtonLink from "../components/shared/ButtonLink.astro";
import Carousel from "../components/shared/Carousel.astro";
import PlanCard from "../components/shared/PlanCard.astro";
---

<Layout title="VETEK SO - Planes" pageId="planes">
  <section
    class="min-h-screen max-w-6xl px-6 sm:px-12 py-10 m-auto flex flex-col justify-center items-center"
  >
    <h2 class="font-extrabold text-center">Explora Nuestros Planes</h2>
    <p class="mb-10 md:text-2xl text-center font-semibold">
      Elige el plan ideal para las necesidades de tu negocio
    </p>
    <div class="w-full justify-around hidden min-[900px]:flex">
      <PlanCard plan="Estándar" />
      <PlanCard plan="Pro" />
    </div>
    <Carousel />
    <h3 class="mt-10 lg:mt-14 mb-2 max-md:self-start">Reservar una llamada</h3>
    <p>
      ¿Quieres descubrir cómo Vetek So puede transformar tu negocio? ¡Reserva
      una llamada ahora mismo y obtén toda la información que necesitas para dar
      el siguiente paso hacia el éxito! En nuestra sesión personalizada, te
      guiaremos a través de todas las funcionalidades de Vetek So y cómo pueden
      adaptarse a las necesidades específicas de tu empresa. Desde la gestión de
      inventario hasta la optimización de procesos, nuestro equipo experto te
      mostrará cómo nuestra plataforma puede impulsar tu crecimiento y
      eficiencia. No pierdas más tiempo. ¡Reserva tu llamada hoy mismo y da el
      primer paso hacia una gestión empresarial más inteligente y efectiva con
      Vetek So!
    </p>
    <ButtonLink
      href="/contacto"
      label="Reservar"
      btnClasses="mt-10 bg-custom-gradient text-blue hover:text-white hover:outline-white"
    />
  </section>
</Layout>
