---
import ButtonLink from "../../shared/ButtonLink.astro";
---

<section class="flex flex-col bg-translucent">
  <div class="w-full max-w-6xl px-6 sm:px-12 py-10 m-auto flex flex-col gap-5">
    <h2 class="m-auto font-extrabold">Preguntas Frecuentes</h2>
    <h4 class="font-extrabold">¿Cuáles son los servicios que ofrecen?</h4>
    <p>
      Ofrecemos una amplia gama de servicios para páginas web, incluyendo diseño
      web, desarrollo personalizado, optimización de motores de búsqueda (SEO),
      marketing digital y mucho más. ¡Todo lo que necesitas para construir una
      presencia en línea exitosa!
    </p>
    <h4 class="font-extrabold">
      ¿Cuál es el tiempo de entrega de sus servicios?
    </h4>
    <p>
      El tiempo de entrega varía según el tipo de servicio y la complejidad del
      proyecto. Sin embargo, nos esforzamos por ofrecer soluciones rápidas y
      eficientes sin comprometer la calidad. ¡Contáctanos para obtener una
      estimación precisa para tu proyecto específico!
    </p>
    <h4 class="font-extrabold">¿Cómo puedo contactar con ustedes?</h4>
    <p>
      ¡Es fácil! Visita la sección "Contáctanos" en nuestro sitio web y completa
      el formulario con tus datos y consultas. Envíanos tus inquietudes y nos
      pondremos en contacto contigo lo antes posible para programar una llamada
      y discutir cómo podemos ayudarte. ¡Estamos aquí para asistirte en
      cualquier momento!
    </p>
    <ButtonLink
      href="/planes"
      label="Nuestros Planes"
      btnClasses="m-auto mt-4 bg-custom-gradient-2 hover:bg-none hover:bg-shadow text-white hover:border-white hover:border-[3px]"
    />
  </div>
</section>
