---
import { Image } from "astro:assets";
---

<section
  class="m-auto flex flex-col w-full max-w-6xl px-6 sm:px-12 py-10 flex flex-col justify-center items-center gap-5 lg:flex-row lg:gap-10 xl:gap-32"
>
  <figure>
    <Image
      class="max-w-[200px] min-[500px]:max-w-[300px] lg:max-w-max"
      src="/images/vision.png"
      width="400"
      height="400"
      loading="eager"
      alt="Imágen de misión de la empresa"
    />
  </figure>
  <section class="flex flex-col gap-4">
    <h3 class="font-extrabold">Nuestra Visión</h3>
    <p>
      Ser reconocidos como líderes en la industria, destacándonos por nuestra
      excelencia en diseño de experiencia de usuarios, desarrollo y soporte de
      sitios web. Aspiramos a ser la primera opción para empresas que buscan
      servicios innovadores, rápidos y confiables, con un enfoque constante en
      la calidad y la mejora continua. Visualizamos un futuro donde cada negocio
      pueda aprovechar plenamente el potencial de la tecnología digital con
      nuestra ayuda. Nos esforzamos por ser un socio estratégico para nuestros
      clientes, contribuyendo al crecimiento y éxito de sus proyectos digitales.
    </p>
    <h4 class="font-extrabold">Valores Clave</h4>
    <p>
      <span class="font-extrabold">Rapidez:</span> Priorizamos la entrega puntual
      de nuestros proyectos sin comprometer la calidad, asegurando que nuestros clientes
      puedan lanzar sus sitios web y actualizaciones a tiempo.
    </p>
    <p>
      <span class="font-extrabold">Confiabilidad:</span> Construimos relaciones de
      confianza con nuestros clientes mediante un soporte técnico continuo y soluciones
      consistentes y efectivas.
    </p>
    <p>
      <span class="font-extrabold">Calidad:</span> Nos enfocamos en la excelencia
      en cada etapa del proceso, desde el diseño inicial hasta el desarrollo y el
      soporte post-lanzamiento, para garantizar que cada proyecto cumpla con los
      más altos estándares de calidad.
    </p>
  </section>
</section>
