---
import Header from "../components/shared/Header.astro";
import Footer from "../components/shared/Footer.astro";
import "@fontsource-variable/podkova";

interface Props {
  title: string;
  pageId?: string;
}

const { title, pageId } = Astro.props;
---

<!doctype html>
<html lang="en" id={pageId}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global lang="scss">
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html,
  body {
    min-height: 100vh;
    font-family: "Podkova Variable", system-ui, sans-serif;
    background: linear-gradient(141.19deg, #00105b 13.59%, #841b71 86.5%);
    color: #ffffff;
  }
  main {
    min-height: 100vh;
    margin-top: 100px;
  }

  #planes footer,
  #servicios footer {
    background: #d9d9d94d;
  }

  h2 {
    font-size: 24px;

    @media (min-width: 400px) {
      font-size: 32px;
    }

    @media (min-width: 768px) {
      font-size: 40px;
    }
  }

  h3 {
    font-size: 20px;

    @media (min-width: 400px) {
      font-size: 26px;
    }

    @media (min-width: 768px) {
      font-size: 32px;
    }
  }

  h4 {
    font-size: 16px;

    @media (min-width: 400px) {
      font-size: 20px;
    }

    @media (min-width: 768px) {
      font-size: 24px;
    }
  }

  a {
    @media (min-width: 400px) {
      font-size: 20px;
    }
  }
</style>
