---
import Header from "../components/Header.astro";
import "@fontsource-variable/podkova";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>

<style is:global lang="scss">
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html,
  body {
    min-height: 100vh;
    font-family: "Podkova Variable", system-ui, sans-serif;
    background: linear-gradient(141.19deg, #00105b 13.59%, #841b71 86.5%);
    color: #d8ddf3;
  }
  main {
    min-height: 100vh;
    margin-top: 100px;
  }
</style>
