---
import "@fontsource-variable/podkova";
import Layout from "./Layout.astro";

interface Props {
  frontmatter: {
    title: string;
    pageId: string;
  };
}

const { title, pageId } = Astro.props.frontmatter;
---

<Layout title={title} pageId={pageId}>
  <section class="bg-white">
    <div class="mdContainer max-w-6xl px-6 sm:px-12 py-10 m-auto">
      <slot />
    </div>
  </section>
</Layout>
